name: test_on_push
on: 
  pull_request:
    branches: [master]

jobs:
  backend:
    name: Build and test Backend
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4  
      - name: Expose GitHub Runtime
        uses: crazy-max/ghaction-github-runtime@v3
      - name: Env
        run: |
          # ACTIONS_RUNTIME_TOKEN, ACTIONS_RUNTIME_URL should be exposed
          env|sort
      - name: Call Backend Test Function
        # Pin at some point
        uses: rustic-beans/dagger-for-github@main
        with:
          version: "0.15.3"
          verb: call
          args: build --source=. -vvv
          cache_config: "type=gha,mode=max,url=${{ env.ACTIONS_CACHE_URL }},token=${{ env.ACTIONS_RUNTIME_TOKEN }}"
          # Maybe add this back if we want to see cool output
          #cloud-token: ${{ secrets.DAGGER_CLOUD_TOKEN }}
          #
          
