name: test_on_push
on: push

jobs:
  backend:
    name: Test Backend
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Call Backend Test Function
        uses: dagger/dagger-for-github@v6
        with:
          version: "latest"
          verb: call
          args: test --source=.
          # Maybe add this back if we want to see cool output
          #cloud-token: ${{ secrets.DAGGER_CLOUD_TOKEN }}
